.dark-mode {
    background-color: darken($grisOscuro,10);

    p{
        color: $gris;
    }
    
    
    a,h1,h3,h2,h4,blockquote {
        color: $blanco;

    }


    .anuncio,
    .resumen-propiedad {
        background-color: $grisOscuro;
        border: 1px solid $grisOscuro;


        .precio {
            color: $verde;
        }
    
        .icono {
            filter: invert(100%);
        }

    }

    .texto-nosotros blockquote {
        color: $blanco
    }


    .formulario {
        label,
        legend,
        p, input{
            color: $gris; }

            input:not([type="submit"]),
            textarea,
             select {
                background-color: $grisOscuro;
                color: $blanco;
                border: 1px solid $grisOscuro;
             }
        
    }
    

    

   
}   